$bar_item_padding: 12px;
$bar_opacity: 0.8;
$bar_font_color: lightgray;
$bar_font_color_active: #fff;
$bar_background_color_active: dimgray;

// sidebar
$sidebar_width: 200px;

// navbar
$navbar_height: 50px;

// card
$card_width: 30rem; // 30rem, 40vw
$card_height: 32rem; // 32rem, 42vw
$card_space: 2rem;
$card_padding: 2rem;
$card_image_height: 25rem;
$card_text_margin: 0.5rem;
$card_opacity: 0.75;